@font-face{
    font-family: geosanslight;
    src: url("../fonts/GeosansLight.ttf");
}

@font-face{
    font-family: din;
    src: url("../fonts/din.ttf");
}

@font-face{
    font-family: Gotham;
    src: url("../fonts/Gotham-Book.otf");
}

@font-face{
    font-family: Gotham-light;
    src: url("../fonts/Gotham-Light.otf");
}

body{
    font-family: Gotham-Light;
    /*background-color: #737373;*/
    background-image: url("../images/hexabump.png");
    background-position: fixed;
}

#cuisine-machine-logo{
    width: 900px;
    height: auto;
}


.nav .nav-justified{
    border: none;
    border-radius: none;
    height: 100px;
    /*text-align: center;*/
}

span.spacing{
    font-size: .55em;
}

#main-navbar > li > a {
    color: white;
    font-size: 1.5em;
}

#main-navbar {
    margin-top:0px;
    position:absolute;
    vertical-align: middle;
    z-index: 50;

}

#main-navbar > li > a:hover{
    border-bottom: 2px solid #5FBA14;
    background-color: transparent;
}

#main-navbar > li > a:focus{
    border-bottom: 2px solid #5FBA14;
    background-color: transparent;
}

#main-navbar > li > a {
  color: white;
  border-bottom: 2px solid transparent;
  padding: 0;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

#cuisineMachineHeader{
    font-size: 5em;
    /*font-weight: bold;*/
    color: white;
}

#explore-page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/cooking-background.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.container-fluid {
    text-align: center;
    /*font-weight: bold;*/

}

#grid-container{
    background-color: rgba(206,206,206,1);
    padding-bottom: 50px;
    margin-top: 150px;
    width: 80%;
}


.searchbox{
    margin-top:45px;
    width: 700px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    /*background-color: rgba(142,196,77,0.35);*/
    background-color: rgba(0,0,0,0.40);
    border: 2px solid grey;
    border-radius: 0px;
    border-right: 2px solid grey;
    color: white;
}
.searchbox:focus{
    border: 1px solid white;
}

#search-button {
    margin-top: -8px;
    margin-left: -5px;
    background-color: black;
    font-size: 1.5em;
    height: 60px;
    width: 50px;
    border: 2px solid grey;
    border-radius: 0px;
    border-left: none;
    color: lightgrey;
    background-color: rgba(0,0,0,0.40);

}

#listening-text{
    font-size: 1.4em;
    color: white;
}


.header{
    font-weight: bold;
    color: white;
}

#discover-header{
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
    margin-right: 20%;
    margin-left: 20%;
    border-bottom: 2px solid black;
}

.recipe-row{
    padding-bottom: 50px;
}
.recipe{
    width: 100%;
    max-height: 329.5px;
    /*border-bottom: 1px solid black;*/

}

div.recipe-box:hover{
    cursor: hand;
}

@media screen and (min-width: 669px) {

    .recipe-box{
        padding: 0px;
        height: auto;
        margin: 0px 25px 0px 25px;
        background-color: white;
        vertical-align: middle;
    }

    .caption-header{
        font-size: 1.75em;
        font-weight: bold;
        height: 110px;
        width: auto;
        color: #333333;
        background-color: white;
        vertical-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: hidden;
    }

}



@media screen and (max-width: 668px) {
    .caption-header{
        font-size: 1.25em;
        font-weight: bold;
        height: 110px;
        width: auto;
        color: #333333;
        background-color: white;
        vertical-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .recipe-box{
        padding: 0px;
        height: auto;
        margin: 0px;
        background-color: white;
        vertical-align: middle;
    }
}

.caption-description{
    font-size: 1.5em;
    font-weight: bold;

}

.recipe-box>a{
    color: black;
}

.recipe-box>a:hover{
    color: black;
    text-decoration: none;
}

.recipe-box>a:active{
    color: black;
    text-decoration: none;
}

#create-recipe{
    width: 100%;
    height: 100%;
}

.blur{
    opacity: .3;
}

#recipe-header{
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.recipe-text{
    color: black;
    font-size: 2em;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 50px;
}

a>span.recipe-header:hover{
    color: black;
    text-decoration: none;
}

a>img.recipe-header:hover{
    text-decoration: none;
}

a>img.recipe-header:active{
    text-decoration: none;
}

.text-middle{
    margin-top: 24%;
}
.button{
    background-color: black;
    color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 0px;
}

div#right-arrow-div{
    height: 100%;
    vertical-align: middle;
}

#create-page-container{
    max-width: 1400px;
    margin-top: 100px;
}

#picture-box{
    background-color: black;
    margin-right: 0px;
    margin-left: 0px;

}

.full-width{
    width: 100%;
    position: absolute;
    top: 370px;
    left: 0px;
}

.create-header{
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 25%;
    margin-left: 25%;
    border-bottom: 2px solid black;
    font-size: 2.2em
}

.padding-top{
    padding-top: 40px;
}

.light-container{
    background-color: rgba(206,206,206,1);
}

#cooking-popup{
    display: none;
    height: 250px;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.55);
    z-index: 1000;
    font-size: 24px;
    box-shadow: 0 60px 80px 0 rgba(0, 0, 0, 0.3), 0 60px 80px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

#cooking-popup>p{
    padding-left: 15px;
}
