<div class="clickable" ng-click="openListenerTextBox()" id="listener-box">
    <img ng-show="listener.processing" class="smaller-ripple" src="../images/ripple.svg" />
    <span ng-show="!listener.recording" ng-click="openListenerTextBox()" id="listening-text-smaller">Hit &lt;<em>space</em>&gt; or click to begin recording</span>
    <span ng-show="listener.recording" ng-click="openListenerTextBox()" id="listening-text-smaller">Hit &lt;<em>space</em>&gt; or click to stop recording</span>
    <span ng-show="listener.processing" id="listening-text-smaller">Thinking . . . </span>
</div>
