<div class="discover-page container-fluid text-center blur" ng-controller="cuisineMachineController">
    <h1 class="header" ng-bind="currentRecipe.title"></h1>
    <br />

    <div class="container-fluid text-center">

        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-sm-3 text-center text-middle">
                    <a href="#discover">
                        <img src="../images/chef.png" />
                        <br />
                        <span class="recipe-header">. . . no</span>
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <img class="create-recipe" src={{currentRecipe.pictureUrl}} />
                </div>
                <div class="col-sm-3 text-center text-middle">
                    <a ng-click="startCooking()">
                        <img src="../images/bowl.png" />
                        <br />
                        <span class="recipe-header">Let's do this!</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <h3 class="recipe-header">Description</h3>
            <p class="recipe-text">
                {{currentRecipe.about}}
            </p>
            <hr />
            <h3 class="recipe-header">What You'll need</h3>
            <ul>
                <div ng-repeat="ingredient in currentRecipe.ingredients track by $index">
                    <li class="recipe-text">{{ingredient}}</li>
                </div>
            </ul>
            <hr />
            <h3 class="recipe-header">Get Started</h3>

            <div id="cooking-popup">
                <br />
                <p>
                    Sift 1 cup flour and 1/4 cup powdered sugar into a mixing bowl.
                </p>
                <p>
                    Add 2 eggs, 1 cup milk, 3 tablespoons melted butter, 1 teaspoon vanilla extract, and 1/4 teaspoon salt.
                </p>
                <p>
                    Beat together until smooth.
                </p>
                <hr />
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-sm-3">
                            <button class="button" id="back-button">Go back</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="button" id="read-button">Read instructions</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="button" id="timer-button">Set a timer</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="button" id="next-button">Next step</button>
                        </div>
                    </div>
                </div>
            </div>

            <ul>
                <div ng-repeat="step in currentRecipe.instructions track by $index">
                    <li class="recipe-text">{{step}}</li>
                    <br />
                </div>
            </ul>
        </div>

    </div>






</div>
