<div id="create-page" class="container-fluid text-center" ng-controller="cuisineMachineController">

    <div id="create-page-container" class="container-fluid text-center">

        <div id="picture-box" class="row container-fluid text-center">
            <div class="full-width">
                <span id="recipe-header" ng-bind="recipeService.selectedRecipe.title"></span>
            </div>
            <div class="col-sm-1 text-center text-middle">
                <a id="right-arrow-div" href="#discover">
                    <img src="../images/back.png" />
                </a>
            </div>
            <div class="col-sm-10 text-center blur">
                <img id="create-recipe" src={{recipeService.selectedRecipe.pictureUrl}} />
            </div>
            <div id="right-arrow-div" class="col-sm-1 text-center text-middle">
                <img ng-click="startCooking()" src="../images/play-button.png" />
            </div>
        </div>
        <div class="light-container" class="text-center">
            <h1 class="create-header padding-top" class="recipe-header">A<span class="spacing"> </span>B<span class="spacing"> </span>O<span class="spacing"> </span>U<span class="spacing"> </span>T<span class="spacing"> </span></h3>
            <p class="recipe-text text-left">{{recipeService.selectedRecipe.about}}</p>
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="create-header">I<span class="spacing"> </span>N<span class="spacing"> </span>G<span class="spacing"> </span>R<span class="spacing"> </span>E<span class="spacing"> </span>D<span class="spacing"> </span>I<span class="spacing"> </span>E<span class="spacing"> </span>N<span class="spacing"> </span>T<span class="spacing"> </span>S</h3>
                    <br />
                    <ul class="text-left">
                        <div ng-repeat="ingredient in recipeService.selectedRecipe.ingredients track by $index">
                            <li type="square" class="recipe-text">{{ingredient}}</li>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-12">
                    <h3 class="create-header">I<span class="spacing"> </span>N<span class="spacing"> </span>S<span class="spacing"> </span>T<span class="spacing"> </span>R<span class="spacing"> </span>U<span class="spacing"> </span>C<span class="spacing"> </span>T<span class="spacing"> </span>I<span class="spacing"> </span>O<span class="spacing"> </span>N<span class="spacing"> </span>S</h3>
                    <br />
                    <ol>
                        <div ng-repeat="step in recipeService.selectedRecipe.instructions track by $index" class="center-instructions">
                            <div id="instruction_{{$index}}">
                                <li class="recipe-text text-left">{{step}}</li>
                                <br />
                                <div id="button-container_{{$index}}" class="container-fluid button-container">
                                    <div class="row text-center">
                                        <div class="col-sm-3">
                                            <button class="flat-button" ng-click="goBackAStep()" id="back-button">Last</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="flat-button" ng-click="readInstruction()" id="read-button">Read</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="flat-button" ng-click="openTimer()" id="timer-button">Set Timer</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="flat-button" ng-click="nextStep()" id="next-button">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </0l>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>


<!-- <div id="cooking-popup">
    <br />
    <p id="current-instruction">
        {{currentInstruction}}
    </p>
    <hr /> -->

<!-- </div> -->
