<div class="container-fluid text-center blur">
    <h1 class="header">Recipes</h1>

    <div class="row">
        <div class="recipe-box col-sm-3 col-sm-offset-1">
            <img class="recipe" src= '../images/banana_pudding.jpg' />
        </div>
        <div class="recipe-box col-sm-3 col-sm-offset-2">
            <img class="recipe" src= '../images/banana_bread.jpg' />
        </div>
    </div>
    </br>
    </br>
    </br>
    <div class="row">
        <div class="recipe-box col-sm-3 col-sm-offset-1">
            <img class="recipe" src= '../images/banana_crepes.jpg' />
        </div>
        <div class="recipe-box col-sm-3 col-sm-offset-2">
            <img class="recipe" src= '../images/banana_cream_pie.jpg' />
        </div>
    </div>
</div>
