<div id="discover-page">
    <div class="container-fluid text-center" ng-controller="cuisineMachineController">
        <br />

        <div id="grid-container" class="container-fluid">
            <div class="row text-right">
                <span id="open-filter" ng-click="openFilters()">+ filter</span>
            </div>
            <br />
            <h1 id="discover-header">R<span class="spacing"> </span>E<span class="spacing"> </span>C<span class="spacing"> </span>I<span class="spacing"> </span>P<span class="spacing"> </span> <span class="spacing"> </span>E<span class="spacing"> </span>S</h1>
            <br />
            <br />
            <div class="container-fluid">
                <div class="row recipe-row text-center" ng-model="recipeService.recipeRows" ng-repeat="recipeRow in recipeService.recipeRows">
                    <div ng-repeat="recipe in recipeRow" class="col-sm-4 text-center">
                        <div ng-click="selectRecipe(recipe)" class="recipe-box">
                            <img class="recipe" src={{recipe.pictureUrl}} />
                            <p class="caption-header text-center">{{recipe.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
