<div class="discover-page container-fluid text-center blur" ng-controller="cuisineMachineController">
    <h1 class="header">Recipes</h1>
    <br />
    <div class="container-fluid">
        <h1 ng-bind="recipes[0].title"></h1>
        <img class="recipe" src= {{recipes[0].pictureUrl}} />

    </div>
</div>

        <!-- <div class="row text-center">
            <div class="col-sm-6 text-center">
                <div class="recipe-box">
                    <a href="#create">
                        <img class="recipe" src= '../images/banana_cream_pie.jpg' />
                        <p class="caption-header">Banana Cream Pie</p>
                        <p class="caption-description">The creamiest most unhealthy cow-product filled pie you never knew you wanted.  Until now.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="recipe-box">
                    <a href="#create">
                        <img class="recipe" src= '../images/banana_crepes.jpg' />
                        <p class="caption-header">Banana Crepes?</p>
                        <p class="caption-description">We arent really sure what these are all about but you'll just have to try them out.</p>
                    </a>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br> -->
        <!-- <div class="row text-center">
            <div class="col-sm-6 text-center">
                <div class="recipe-box">
                    <a href="#create">
                        <img class="recipe" src= '../images/banana_pudding.jpg' />
                        <p class="caption-header">Betty's Perfect Banana Pudding</p>
                        <p class="caption-description">It's an elegant mixture of fragrances and light delicate wafers mixed together perfectly.  Just kidding, its Jello brand pudding with vanilla wafers.</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="recipe-box">
                    <a href="#create">
                        <img class="recipe" src= '../images/banana_bread.jpg' />
                        <p class="caption-header">Bob's Bangin' Banana Bread</p>
                        <p class="caption-description">It's like that stuff from Bob Evans.  Except not, because of trademark liability.</p>
                    </a>
                </div>
            </div>
        </div> -->
