<div id="explore-page-container" class="container-fluid text-center">

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <img id="cuisine-machine-logo" src="../images/logo.png" />
    <br />

    <div class="container-fluid">
        <input class="searchbox" type="text" placeholder="Ask me anything." ng-model="searchText"></input>
        <input ng-click="search(searchText)" id="search-button" class="btn" type="button"  value=" > "></input>
    </div>
    <div>
    </div>
    <br />
    <img src="../images/ripple.svg" ng-click="triggerRecorder()" />
    <br />
    <span id="listening-text" ng-show="listener.recording" ng-click="triggerRecorder()" >Listening . . .</span>
    <span id="listening-text" ng-show="listener.speechProcessing" ng-click="triggerRecorder()" >Thinking . . .</span>
    <span id="listening-text" ng-show="!listener.speechProcessing && !listener.recording" ng-click="triggerRecorder()" >Click For Voice Search</span>
    <br />
</div>
