<div id="explore-page-container" class="container-fluid text-center">

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- <h1 id="cuisineMachineHeader">CuisineMachine</h1> -->
    <img id="cuisine-machine-logo" src="../images/logo.png" />
    <br />

    <div class="container-fluid">
        <input class="searchbox" type="text" placeholder="What are you hungry for?" ng-model="searchText"></input>
        <input ng-click="search()" id="search-button" class="btn" type="button"  value=" > "></input>
    </div>

    <div>

    </div>
    <!-- Uncomment when we have Speech to text working --> --> -->
    </br>
    <img src="../images/ripple.svg" />
    <br />
    <span id="listening-text">Listening . . .</span>

</div>
