<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var seconds = 0;
var counting;
var running = 0;
function Set() {
	var sec = document.getElementById("initSec").value;
	var min = document.getElementById("initMin").value;
	var hour = document.getElementById("initHour").value;
	if(sec > 59)
		sec = 59;
	if(min > 60)
		min = 59
	if(hour > 100)
		hour = 99;
    seconds = parseInt(3600*hour)+parseInt(60*min)+parseInt(sec);
	Display();
	console.log(seconds);
}
function Start() {
	if(seconds > 0 && running == 0)
		running = 1;
		counting = setInterval(CountDown, 1000);	
}
function Pause() {
	running = 0;
    clearInterval(counting);
}
function CountDown() {
	console.log(seconds);
	seconds -= 1;
	Display();
	if(seconds <= 0){
		Pause();
		var sound = document.getElementById("audio");
        sound.play()}
}
function Display() {
	var sec = seconds % 60;
	var min = Math.floor(seconds / 60) % 60;
	var hour = Math.floor(seconds / 3600);
	var secFiller = "";
	var minFiller = "";
	var hourFiller = "";
	if(sec < 10)
		secFiller = "0";
	if(min < 10)
		minFiller = "0";
	if(hour < 10)
		hourFiller = "0";
	var display = hourFiller+hour+":"+minFiller+min+":"+secFiller+sec;
	document.getElementById("timeDisplay").innerHTML = display;
}
</script>
</head>

<body>

<h1>Timer</h1>
<h2 id="timeDisplay">00:00:00</h2>
<input type="number" name="initHour" id="initHour" value="00">
:<input type="number" name="initMin" id="initMin" value="00">
:<input type="number" name="initSec" id="initSec" value="00"><br>
<button type="button" onclick="Set()">Set</button>
<button type="button" onclick="Pause()">Pause</button>
<button type="button" onclick="Start()">Start</button>

<audio id="audio" src="bellAlarm.wav" autostart="false" ></audio>

</body>
</html>