@font-face{
    font-family: geosanslight;
    src: url("../fonts/GeosansLight.ttf");
}

html{

}

.background-primary{
    background-color: transparent;
}

.nav .nav-justified{
    border: none;
    border-radius: none;
    text-align: center;
}

#main-navbar > li > a {
    color: white;
    font-size: 22px;
    background-color: transparent;
}

#main-navbar > li > a:hover{
    color: white;
    border-bottom: 2px solid #5FBA14;
    margin: 10px 55px 20px 55px;
}

#main-navbar > li > a:focus{
    color: white;
    border-bottom: 2px solid #5FBA14;
    margin: 10px 55px 20px 55px;
}

#main-navbar > li > a {
  color: white;
  border-bottom: 2px solid transparent;
  padding: 0; /*removing spacing*/
  margin: 10px 55px 20px 55px;

}

body{
    font-family: geosanslight;
    font-weight: bold;
    background-image: url("../images/cooking-background.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.cuisineMachineHeader{
    font-size: 65px;
    color: white;
}

.container-fluid .homepage-container{
    text-align: center;
}

.searchbox{
    width: 400px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    /*background-color: rgba(142,196,77,0.35);*/
    background-color: rgba(0,0,0,0.40);
    border: 1px solid grey;
    color: white;
}
.searchbox:focus{
    border: 1px solid white;
}

#search-button {
    background-color: black;
    height: 35px;
    width: 80px;
    border: 1px solid darkgrey;
    color: lightgrey;
}


.blur{
    background: rgba(111,107,107, 0.75);
    padding-bottom: 50px;
}
